header>img{
    max-width: 100%;
    width: 20rem;
}

iframe{
    margin: 0 auto;
    display: block;
    width: 80%;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: center;
}

#cat-body{
    background-image: url(images/halloween-cats.jpg);
    background-repeat: repeat;
    width: 100%;
    color: yellow;
    background-size: contain;
    background-position: center;
}

div{
    width: 100%;
}

#cat-header>nav>a{
    color: yellow;
}
#cat-header>nav>a:hover{
    color: green;
}

#cat-main>img{
    max-width: 100%;
    width: 20rem;
}

header>nav>a:hover{
    color: green;
    
}
